<button class="all-contacts">All contacts</button>
	

  <h1>The Kardashian Kontact List</h1>

  	<form method= "POST" action="/characters">
		
		<input type="text" name="first">
		first
		<input type="text" name="last">
		last
		<input type="text" name="address">
		address
		<input type="text" name="phone number">
		phone number
		<input id="submit-button" type= "submit"> submit</input>
	
	</form> 